<component name="ArtifactManager">
  <artifact type="exploded-war" name="Springmvc07--SSM整合:war exploded">
    <output-path>$PROJECT_DIR$/Springmvc07--SSM整合/Springmvc07--SSM整合/target/Springmvc07--SSM整合</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>Springmvc07--SSM整合</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Springmvc07--SSM整合" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/Springmvc07--SSM整合/Springmvc07--SSM整合/target/Springmvc07--SSM整合/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Springmvc07--SSM整合/web/Web" />
    </root>
  </artifact>
</component>